.parent {
    display: flex;
}

.child {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    flex-wrap: wrap;
    grid-row-start: 1;
    grid-row-end: 12;
}